@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

:root {
  --mainBlue: #1b51bc;
}

.title_container {
  width: 90%;
  margin-left: 2%;
}

body {
  background-color: #75b5ba;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  padding: 0;
}

section {
  width: 100%;
  margin-top: 5%;
}

.main_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  margin-left: 5%;
}

.recent_scores {
  display: flex;
  flex-direction: column;
  width: 42.5%;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5%;
  border: #000 solid 3px;
  border-radius: 10px;
  max-height: 80vh;
}

.add_scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  border: #000 solid 3px;
  border-radius: 10px;
  background-color: #f7e8d4;
  padding-top: 0;
}

.scores_list {
  width: 100%;
  background-color: #f7e7d0;
  border-radius: 0 0 7px 7px;
  overflow-x: hidden;
  overflow-y: auto;
}

.score_card {
  width: 100%;
  display: flex;
  padding: 2% 0;
}

.score_card span {
  margin-left: 1%;
  width: 30%;
}

.recent_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  padding: 2% 2% 3% 2%;
  border-radius: 7px 7px 0 0;
  background-color: #c7b39c;
  color: #fff;
}

form li {
  width: 100%;
}

.add_scores ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.add_scores h2 {
  background-color: #c7b39c;
  width: 96%;
  padding: 5% 2%;
  color: #fff;
}

.card_gray {
  background-color: #f3f0f0;
}

#card_yellow {
  background-color: #fde062;
}

#card_grayLight {
  background-color: #d9d9d9;
}

#card_brown {
  background-color: #e4bc85;
}

.add_scores li {
  list-style: none;
  margin-bottom: 9%;
  width: 100%;
}

.submit_btn,
.refresh_btn {
  border-radius: 5px;
  color: #fff;
  background-color: #887256;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2% 4%;
  font-size: 13px;
  margin-right: 3%;
}

.submit_btn:hover,
.refresh_btn:hover {
  padding: 3% 6%;
}

input {
  border: none;
  padding: 4% 3%;
  width: 94%;
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 5px;
  margin: 1% 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#scorelInput {
  -webkit-appearance: none;
  margin: 1% 3%;
  -moz-appearance: textfield;
}

.btn_list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
